@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

table {
    margin: auto;
    width: 90%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 5rem;
}
th,
td {
    padding: 1.5rem 2rem;
}
tr {
    border-bottom: 2px solid gray;
}
thead {
    background-color: rgba(66, 66, 231, 0.774);
    color: white;
}
tr:nth-of-type(even) {
    background-color: rgba(144, 144, 206, 0.671);
    color: white;
}
